*{
    margin: 0px;
    padding:0px;
}


body{
  background-image: url(ramon.jpg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: system-ui;
   
}
div{
  
}

section{
height: 100vh;
    width: 100vh;
    display: flex;
   
 justify-content: center;
    align-items: center;
       
}
ul{
    text-align: center;
   
}

ul li{
    list-style: none;
    margin: 20px 0;
    
}
ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    background:darkblue ;
    padding:6px 15px ;
    border-radius: 20px;
    text-transform: uppercase;
    display:inline-block;
    width: 200px;
    transition: 0.5s;
    position: relative;
    z-index: 10;
    target="_blank<";
}

ul:hover li a{
    opacity: 0;
}

ul li a:hover{
    
    transform: scale(1.5);
    background-color: darkmagenta;
    opacity: 1;
}

 

  